<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>

  <div id="root">
      <h1>All task</h1>
    <ul>
        <li v-for="task in tasks" v-text="task.description"></li>
    </ul>

    <h2>Incomplete tasks</h2>
    <ul>
        <li v-for="task in incompleteTasks" v-text="task.description"></li>
    </ul>
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#root',
      
      data: {
        tasks:[
            {description:'Go to the estore', completed:true},
            {description:'Go to the cinema', completed:false},
            {description:'Do homework', completed:false},
            {description:'Clean room', completed:false},
            {description:'Make diner', completed:true},
            {description:'Clean inbox', completed:true},
        ]
      },
      computed:{
          incompleteTasks(){
              return this.tasks.filter(task => ! task.completed);
          }
      }
    });
   
  </script>
</body>
</html>
